<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="navbar-nav">
        {# Django Home Link / Admin Link / Register Link#}
        <ul class="nav navbar-nav">
          <a class="navbar-brand" href="{% url 'index' %}">Django Home</a>
          <a class="navbar-link" href="{% url 'admin:index' %}">Admin</a>
          <a class="navbar-link" href="{% url 'register' %}">Register</a>

          {% if user.is_authenticated %}

          <a class="navbar-link" href="{% url 'logout' %}">Logout</a>
          {% else %}
          <a class="navbar-link" href="{% url 'basic_app:user_login' %}">Login</a>
          <!-- <a class="navbar-link" href="{% url 'special' %}">Special</a> -->
          {% endif %}

        </ul>
      </div>
    </nav>
    <div class="container">
      {% block body_block %}
      {% endblock %}
    </div>

  </body>
</html>
